layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="build" cwd="ZELLIJ_NEW_CWD"
    tab name="edit" cwd="ZELLIJ_NEW_CWD"
    tab name="test" cwd="ZELLIJ_NEW_CWD"
    tab name="log" cwd="ZELLIJ_NEW_CWD"
}
