layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="mysql" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "mysql -u root; exec bash"
        }
    }
    tab name="postgres" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "psql; exec bash"
        }
    }
    tab name="redis" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "redis-cli; exec bash"
        }
    }
    tab name="mongo" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "mongosh; exec bash"
        }
    }
    tab name="editor" cwd="ZELLIJ_NEW_CWD"
}
