layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="kubectl" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "kubectl get pods; exec bash"
        }
    }
    tab name="docker" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "docker ps; exec bash"
        }
    }
    tab name="terraform" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "terraform plan; exec bash"
        }
    }
    tab name="ansible" cwd="ZELLIJ_NEW_CWD"
    tab name="monitoring" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "htop; exec bash"
        }
    }
    tab name="logs" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "journalctl -f; exec bash"
        }
    }
}
