layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="shell" cwd="ZELLIJ_NEW_CWD"
    tab name="mgr" cwd="ZELLIJ_NEW_CWD"
    tab name="devel" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options exec cdd buildx; exec bash"
        }
    }
    tab name="editor" cwd="ZELLIJ_NEW_CWD"
    tab name="build" cwd="ZELLIJ_NEW_CWD"
    tab name="testing" cwd="ZELLIJ_NEW_CWD"
    tab name="docker" cwd="ZELLIJ_NEW_CWD"
    tab name="logging" cwd="ZELLIJ_NEW_CWD"
    tab name="remote" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options ssh; exec bash"
        }
    }
}
