layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="main" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "go run .; exec bash"
        }
    }
    tab name="test" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "go test ./...; exec bash"
        }
    }
    tab name="mod" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "go mod tidy; exec bash"
        }
    }
    tab name="editor" cwd="ZELLIJ_NEW_CWD"
    tab name="docs" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "go doc; exec bash"
        }
    }
}
