layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="main" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "python main.py; exec bash"
        }
    }
    tab name="test" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "python -m pytest; exec bash"
        }
    }
    tab name="venv" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "python -m venv venv && source venv/bin/activate; exec bash"
        }
    }
    tab name="editor" cwd="ZELLIJ_NEW_CWD"
    tab name="jupyter" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "jupyter notebook; exec bash"
        }
    }
}
