layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="build" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "cargo build; exec bash"
        }
    }
    tab name="run" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "cargo run; exec bash"
        }
    }
    tab name="test" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "cargo test; exec bash"
        }
    }
    tab name="editor" cwd="ZELLIJ_NEW_CWD"
    tab name="clippy" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "cargo clippy; exec bash"
        }
    }
    tab name="fmt" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "cargo fmt; exec bash"
        }
    }
}
