layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="shell" cwd="ZELLIJ_NEW_CWD"
    tab name="editor" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options editor $PWD; exec bash"
        }
    }
    tab name="filemanager" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options files $PWD; exec bash"
        }
    }
    tab name="browser" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options browser http://localhost:19922; exec bash"
        }
    }
    tab name="server" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options server $PWD 19922; exec bash"
        }
    }
    tab name="logs" cwd="ZELLIJ_NEW_CWD" {
        pane {
            command "bash"
            args "-c" "run_options log $PWD/server.log; exec bash"
        }
    }
}
