# - - - - - - - - - - - - - - - - - - - - - - - -
##@Version           :  202605200004-git
# @@Author           :  Jason Hempstead
# @@Contact          :  jason@casjaysdev.pro
# @@License          :  LICENSE.md
# @@ReadME           :  shellcheck --help
# @@Copyright        :  Copyright: (c) 2021 Jason Hempstead, Casjays Developments
# @@Created          :  Thursday, Mar 25, 2021 18:52 EDT
# @@File             :  shellcheckrc
# @@Description      :  My default shellcheckrc file
# @@Changelog        :  Align disable codes with canonical global rules
# @@TODO             :  Better documentation
# @@Other            :
# @@Resource         :
# @@Terminal App     :  no
# @@sudo/root        :  no
# @@Template         :  shellcheckrc
# - - - - - - - - - - - - - - - - - - - - - - - -
shell=/bin/bash
disable=SC1001
disable=SC1003
disable=SC1004
disable=SC1017
disable=SC1090
disable=SC1091
disable=SC1117
disable=SC2001
disable=SC2002
disable=SC2003
disable=SC2004
disable=SC2005
disable=SC2009
disable=SC2010
disable=SC2012
disable=SC2015
disable=SC2016
disable=SC2021
disable=SC2030
disable=SC2031
disable=SC2034
disable=SC2039
disable=SC2045
disable=SC2046
disable=SC2062
disable=SC2086
disable=SC2089
disable=SC2090
disable=SC2115
disable=SC2116
disable=SC2120
disable=SC2126
disable=SC2129
disable=SC2148
disable=SC2153
disable=SC2154
disable=SC2155
disable=SC2162
disable=SC2181
disable=SC2199
disable=SC2207
disable=SC2229
disable=SC2231
disable=SC2236
disable=SC2242
disable=SC2294
disable=SC2317
disable=SC2329
