#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Config Editor
GenericName=EditConf
Comment=List Config files to edit.
Icon=preferences-gtk-config
Exec=config-editor
Path=~
Terminal=false
Actions=
Categories=System;GTK;Utility;GTK;X-XFCE;GNOME;MyScripts;
Keywords=edit;config;my;
StartupNotify=false
