#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Define
GenericName=Define
Comment=Define word.
Icon=org.xfce.Dictionary
Exec=define --gtk
Terminal=false
Actions=
Categories=Office;GTK;X-XFCE;GNOME;MyScripts
Keywords=emojis;my;
StartupNotify=false
