#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Emoji Menu
GenericName=Emojis
Comment=Choose emojis.
Icon=image-viewer
Exec=emojis dmenu
Terminal=false
Actions=
Categories=System;GTK;X-XFCE;GNOME;MyScripts
Keywords=emojis;my;
StartupNotify=false
