#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=MPD Notify
GenericName=MPDNotify
Comment=Get MPD Notifications.
Icon=multimedia
Exec=mpd-notify
Terminal=false
Actions=
Categories=Audio;Player;System;GTK;X-XFCE;GNOME;MyScripts
Keywords=mpd;music;player;my;
StartupNotify=false
