#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=MPD Client
GenericName=MPDCLient
Comment=Manage MPD.
Icon=multimedia
Exec=mpdclient
Terminal=false
Actions=
Categories=Audio;Player;GTK;X-XFCE;GNOME;MyScripts;
Keywords=mpd;music;player;my;
StartupNotify=false
