#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Browser
GenericName=Browser
Comment=Browse the web.
Icon=web-browser
Exec=mybrowser
Terminal=false
Actions=
Categories=Network;WebBrowser;GTK;X-XFCE;GNOME;MyScripts;
Keywords=web;browser;my;
StartupNotify=true
