#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Backups
GenericName=Backup
Comment=Backup Files.
Icon=back
Exec=backupapp
Terminal=false
Actions=
Categories=System;Utility;GTK;X-XFCE;GNOME;MyScripts;
Keywords=backup;my;
StartupNotify=false
