#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Calc
GenericName=Calculator
Comment=Calculator.
Icon=calc
Exec=calc
Terminal=false
Actions=
Categories=Utility;Calculator;GTK;X-XFCE;GNOME;MyScripts;
Keywords=calc;my;
StartupNotify=false
