#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Email
GenericName=E-Mail
Comment=Manage E-mail.
Icon=thunderbird
Exec=myemail
Terminal=false
Actions=
Categories=Application;Network;Email;GTK;X-XFCE;GNOME;MyScripts;
Keywords=mail;e-mail;my;
StartupNotify=false
