#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Editor
GenericName=TextEditor
Comment=Edit Files.
Icon=accessories-text-editor
TryExec=myeditor
Exec=myeditor
Terminal=false
Actions=
Categories=GTK;Development;IDE;GTK;X-XFCE;GNOME;MyScripts;
Keywords=editor;files;my;
StartupNotify=false
