#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Files
GenericName=File Manager
Comment=Manage Files.
Icon=system-file-manager
Exec=myfilemanager
Terminal=false
Actions=
Categories=FileManager;System;Utility;GTK;X-XFCE;GNOME;MyScripts;
Keywords=files;manager;my;
StartupNotify=false
