#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Images
GenericName=Images
Comment=Manage Photos.
Icon=image-viewer
TryExec=images
Exec=images
Terminal=false
Actions=
Categories=Graphics;Viewer;Photography;GTK;X-XFCE;GNOME;MyScripts;
Keywords=images;photo;player;my;
StartupNotify=false
