#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Media
GenericName=Media
Comment=Manage Media.
Icon=multimedia
TryExec=multimedia
Exec=multimedia
Terminal=false
Actions=
Categories=AudioVideo;Player;Recorder;Graphics;GTK;X-XFCE;GNOME;MyScripts;
Keywords=music;videos;images;photo;player;my;
StartupNotify=false
