#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Music
GenericName=Music
Comment=Play Music.
Icon=multimedia
TryExec=music
Exec=music
Terminal=false
Actions=
Categories=Audio;Player;GTK;X-XFCE;GNOME;MyScripts;
Keywords=music;player;my;
StartupNotify=false
