#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Notes
GenericName=Notes
Comment=Manage Notes.
Icon=geany
Exec=notes
Terminal=false
Actions=
Categories=GTK;Development;IDE;GTK;X-XFCE;GNOME;MyScripts;
Keywords=notes;text;my;
StartupNotify=false
