#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My SSH
GenericName=SSH Client
Comment=Open a ssh conection.
Icon=folder-remote-ssh
TryExec=myssh
Exec=myssh
Terminal=false
Actions=
Categories=GTK;System;Network;GTK;X-XFCE;GNOME;MyScripts;
Keywords=system;internet;my;
StartupNotify=false
