#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Terminal
GenericName=Terminal Emulator
Comment=Open Terminal.
Icon=utilities-terminal
Exec=myterminal
Path=
Terminal=false
Actions=
Categories=System;GTK;Utility;TerminalEmulator;GTK;X-XFCE;GNOME;MyScripts;
Keywords=terminal;my;
StartupNotify=false
