#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Torrents
GenericName=BitTorrent Client
Comment=Manage Torrents.
Icon=transmission
TryExec=mytorrent
Exec=mytorrent
Terminal=false
Actions=
Categories=Network;FileTransfer;P2P;GTK;X-XFCE;GNOME;MyScripts;
Keywords=torrents;my;
StartupNotify=false
