#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Todo
GenericName=Todo
Comment=Manage TODOs.
Icon=geany
Exec=todo
Terminal=false
Actions=
Categories=GTK;Development;IDE;GTK;X-XFCE;GNOME;MyScripts;
Keywords=notes;text;my;
StartupNotify=false
