#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My Videos
GenericName=Multimedia player
Comment=Watch videos.
Icon=vlc
Exec=videos
Terminal=false
Actions=
Categories=Video;Player;GTK;X-XFCE;GNOME;MyScripts;
Keywords=Videos;my;
StartupNotify=false
