#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=My VMManager
GenericName=VM Manager
Comment=Manager VMs.
Icon=virtualbox
Exec=myvmmanager
Terminal=false
Actions=
Categories=System;GTK;X-XFCE;GNOME;MyScripts;
Keywords=virtual;machine;my;
StartupNotify=false
