#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Notification Daemon
GenericName=NotificationDaemon
Comment=Start Notification Daemon.
Icon=preferences-desktop-notification
Exec=notify-daemon
Terminal=false
Actions=
Categories=System;GTK;X-XFCE;GNOME;
Keywords=xfce4-notify;notify;music;player;my;MyScripts;
StartupNotify=false
