#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=Random Wallpaper
GenericName=Random Wallpaper
Comment=Change the wallpaper.
Icon=wallpaper
Exec=randomwallpaper
Actions=New;Status;start;Stop;
Categories=GNOME;GTK;GTK;MyScripts;System;TerminalEmulator;Utility;X-XFCE;
Keywords=wallpaper;my;

[Desktop Action New]
Name=New
Exec=randomwallpaper bg new

[Desktop Action Status]
Name=Status
Exec=randomwallpaper bg status

[Desktop Action start]
Name=Start
Exec=randomwallpaper bg start

[Desktop Action Stop]
Name=Stop
Exec=randomwallpaper bg stop
