#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Screen
GenericName=Screen
Comment=Screen Multiplexer.
Icon=utilities-terminal
Exec=myterminal --screen
Terminal=false
Actions=
Categories=System;TerminalEmulator;
Keywords=terminal;
StartupNotify=false
