#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Search Menu
GenericName=Search Menu
Comment=A menu to search on websites
Icon=catfish
TryExec=search-menu
Exec=search-menu
Terminal=false
Actions=
Categories=Accessories;X-XFCE;GNOME;MyScripts;
Keywords=search;my;
StartupNotify=false
