#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=SpellCheck
GenericName=SpellCheck
Comment=Check Spelling.
Icon=org.xfce.Dictionary
Exec=spellcheck --gtk
Terminal=false
Actions=
Categories=Office;GTK;X-XFCE;GNOME;MyScripts
Keywords=emojis;my;
StartupNotify=false
