#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=TMUX
GenericName=TMUX
Comment=Tmux Multiplexer.
Icon=utilities-terminal
Exec=myterminal --tmux
Terminal=false
Actions=
Categories=System;TerminalEmulator;
Keywords=terminal;
StartupNotify=false
