##### OpenSSL config 
HOME                            = REPLACE_SSL_DIR
#RANDFILE                        = REPLACE_SSL_DIR/.rnd
DOMAIN                          = REPLACE_DOMAIN

# Extra OBJECT IDENTIFIER info:
#oid_file                       = REPLACE_SSL_DIR/.oid
oid_section                     = new_oids

# extensions                      = 

[ new_oids ]
# testoid1=1.2.3.4
# testoid2=${testoid1}.5.6

####################################################################
[ ca ]
default_ca                        = CA_default                    # The default ca section

####################################################################
[ CA_default ]

dir                               = REPLACE_SSL_DIR
certs                             = $dir/certs
crl_dir                           = $dir/crl
database                          = $dir/index.txt
new_certs_dir                     = $dir/newcerts
serial                            = $dir/serial.txt
crl                               = $crl_dir/revoked.pem
certificate                       = $dir/certs/ca.crt
private_key                       = $dir/private/ca.key
RANDFILE                          = $dir/private/.rand
x509_extensions                   = usr_cert
name_opt                          = ca_default                    # Subject Name options
cert_opt                          = ca_default                    # Certificate field options
copy_extensions                   = copy
crl_extensions                    = crl_ext
unique_subject                    = no
default_days                      = 3650                    # how long to certify for
default_crl_days                  = 30                             # how long before next CRL
default_md                        = sha256                    # which md to use.
preserve                          = no                    # keep passed DN ordering
policy                            = policy_match


[ policy_match ]
countryName                       = match
stateOrProvinceName               = match
organizationName                  = match
organizationalUnitName            = optional
commonName                        = supplied
emailAddress                      = optional

[ policy_anything ]
countryName                       = optional
stateOrProvinceName               = optional
localityName                      = optional
organizationName                  = optional
organizationalUnitName            = optional
commonName                        = supplied
emailAddress                      = optional

[ req ]
default_bits                      = 4096
default_keyfile                   = privkey.pem
distinguished_name                = req_distinguished_name
attributes                        = req_attributes
x509_extensions                   = v3_ca
string_mask                       = nombstr
req_extensions                    = v3_req

[ req_distinguished_name ]
countryName                       = Country Name (2 letter code)
countryName_default               = REPLACE_COUNTRY
countryName_min                   = 2
countryName_max                   = 2

stateOrProvinceName               = State or Province Name (full name)
stateOrProvinceName_default       = REPLACE_STATE

localityName                      = Locality Name (eg, city)
localityName_default              = REPLACE_CITY

0.organizationName                = Organization Name (eg, company)
0.organizationName_default        = REPLACE_COUNTRY

organizationalUnitName            = Organizational Unit Name (eg, section)
organizationalUnitName_default    = REPLACE_UNIT

commonName                        = Common Name (eg, YOUR name)
commonName_max                    = 64

emailAddress                      = Email Address
emailAddress_max                  = 64

#SET-ex3                           = SET extension number 3

[ req_attributes ]
challengePassword                 = A challenge password
challengePassword_min             = 8
challengePassword_max             = 100

unstructuredName                  = An optional company name

[ usr_cert ]
basicConstraints=CA:FALSE
nsCertType                        = server, objsign, client, email
#keyUsage                         = nonRepudiation, digitalSignature, keyEncipherment
nsComment                         = "REPLACE_UNIT CA"
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid,issuer:always
#subjectAltName                    = email:copy
crlDistributionPoints             = crldp1_section

[ crldp1_section ]
nsBaseUrl                         = https://REPLACE_DOMAIN/ca/
nsCaRevocationUrl                 = https://REPLACE_DOMAIN/ca/ca-revoke.crl
nsRevocationUrl                   = https://REPLACE_DOMAIN/ca/revoke.crl
nsRenewalUrl                      = https://REPLACE_DOMAIN/ca/renewel.php
nsCaPolicyUrl                     = https://REPLACE_DOMAIN/ca/ca-renewel.php
#nsSslServerName

[ v3_req ]
basicConstraints                  = CA:FALSE
keyUsage                          = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid:always,issuer:always
basicConstraints                  = CA:true
#keyUsage                          = cRLSign, keyCertSign
#nsCertType                        = sslCA, emailCA
# subjectAltName                    =email:copy
# issuerAltName                     =issuer:copy

# obj=DER:02:03
# basicConstraints                  = critical, DER:30:03:01:01:FF

[ crl_ext ]
authorityKeyIdentifier            = keyid:always,issuer:always

[ msdc_cert ]
basicConstraints                  = CA:FALSE
nsCertType                        = client, email, objsign, server
nsComment                         = "REPLACE_UNIT CA"
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid,issuer:always
issuerAltName                     = issuer:copy
subjectAltName                    = email:copy
keyUsage                          = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage                  = clientAuth, serverAuth

[ subca_cert ]
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid:always,issuer:always
basicConstraints                  = CA:true
nsCertType                        = sslCA, emailCA, objCA
issuerAltName                     = issuer:copy
nsComment                         = "REPLACE_UNIT CA"
subjectAltName                    = email:copy
keyUsage                          = keyCertSign, cRLSign
