[Unit]
Description=APPNAME
After=network.target

[Service]
Type=simple
PrivateTmp=true
Restart=always
RestartSec=5
KillMode=process

Environment=TERM=linux
Environment=HOME="$HOME"

ExecStart='PATHTOCMD'
ExecStopPost=''
ExecStop=/bin/kill -KILL $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=20
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
